@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.header.navbar {
  background-color: black;
}

.header.navbar .container-fluid .navbar-nav .nav-item .nav-link {
  color: white;
}

.header.navbar .container-fluid .navbar-brand {
  color: white;
}

